.maincontainer {
    width: 250px;
    height: auto;
    background-color: rgba(128, 128, 128, 0.249);
    border: solid black 1px;
    border-radius: 10px;
}
.list{
    list-style: none;
}
.button{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
.table{
    display: flex;
    justify-content: center;
}
body{
    display: flex;
    justify-content: center;
}
h3 {
    text-align: center;
}
.body{
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}
.back{
    display: flex;
    justify-content: center;
}
.goback{
    background-color: orange;
    width: 80px;
    height: 25px;
    border-radius: 10px;
    margin-bottom: 10px;
}
.submit{
    background-color: orange;
    width: 80px;
    height: 25px;
    border-radius: 10px;
}